/.vs/kata-fizz-buzz/CopilotIndices/17.14.1091.29919
/.vs/kata-fizz-buzz/FileContentIndex
/kata-fizz-buzz/obj/kata-fizz-buzz.csproj.nuget.dgspec.json
/kata-fizz-buzz/obj/project.nuget.cache
/kata-fizz-buzz/obj/project.assets.json
/kata-fizz-buzz/bin/Debug/net9.0
/kata-fizz-buzz/obj
/kata-fizz-buzz.Tests/bin/Debug/net9.0
/kata-fizz-buzz.Tests/obj/Debug/net9.0
/kata-fizz-buzz.Tests/obj
